<div class="container">
  <div class="row">
    <h3 style="text-align: center">Please login!</h3>
    <hr>
  </div>
  <div class="row">
    <div class="col-xs-7">
      <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <div class="form-group">
          <label for="">Email</label>
          <input type="email" name="email_login" id="email_login" class="form-control" formControlName="email_login">
        </div>
        <div class="form-group">
          <label for="">Password</label>
          <input type="password" name="password_login" id="password_login" class="form-control" formControlName="password_login">
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Login</button>
      </form>
    </div>
  </div>
</div>